
<p>
  <%= :my_local.label :name %>
  <%= :my_local.text_field :name %>
</p>
<p>
  <%= :my_local.label :hometown %>
  <%= :my_local.text_field :hometown %>
</p>
<p>
  <%= :my_local.label :birthday %>
  <%= :my_local.date_field :birthday %>
</p>
  <%= :my_local.submit %>
