
<p>
  <%= form.label :name %>
  <%= form.text_field :name %>
</p>
<p>
  <%= form.label :hometown %>
  <%= form.text_field :hometown %>
</p>
<p>
  <%= form.label :birthday %>
  <%= form.date_field :birthday %>
</p>
  <%= form.submit %>
