
<p>
  <%=label_tag :name %>
  <%=text_field_tag :name %>
</p>
<p>
  <%=label_tag :hometown %>
  <%= text_field_tag :hometown %>
</p>
<p>
  <%= label_tag :birthday %>
  <%= text_field_tag :birthday %>
</p>
  <%= submit_tag %>
